* {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  outline: none;
}
*:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
html,body{
	min-height: 100%;
	background-color: #000;
	font-family: 'Roboto','Helvetica Neue',Helvetica, Arial, sans-serif;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-variant-ligatures: no-common-ligatures;
}
h1{
	font-size: 4rem;
	font-weight: 200;
	letter-spacing: 4px;
	text-transform: uppercase;
	margin: 0;
}
h2{
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0;
	color: #10131a;
}
h3{
	font-size: 1rem;
	font-weight: 200;
	letter-spacing: 4px;
	text-transform: uppercase;
}
h4{
	font-size: 0.8rem;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #FF5216;
}
p{
	/*font-family: 'Open Sans', sans-serif;*/
	font-size: 1rem;
	color: #10131a;
	opacity: 0.3;
	letter-spacing: 0px;
	font-weight: 300px;
	line-height: 25px; 
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}
.accent-text{
	color: #FF5216;
}
.center-flex{
	display: flex;
  justify-content: center;
  align-items: center;
}
.padding-0{
  padding-right:0;
  padding-left:0;
  margin-left: 0;
  margin-right: 0;
}

/* hero styles */
.section-hero{
	width: 100%;
	height: 100vh;
	/* dark */
  background: rgba(16,19,26,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(16,19,26,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(16,19,26,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(16,19,26,1) 0%, rgba(0,0,0,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(16,19,26,1) 0%, rgba(0,0,0,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(16,19,26,1) 0%, rgba(0,0,0,1) 100%);
	background: radial-gradient(ellipse at center, rgba(16,19,26,1) 0%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10131a', endColorstr='#000000', GradientType=1 );
	/* blue */
	/*	background: rgba(19,24,35,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(19,24,35,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(19,24,35,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(19,24,35,1) 0%, rgba(0,0,0,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(19,24,35,1) 0%, rgba(0,0,0,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(19,24,35,1) 0%, rgba(0,0,0,1) 100%);
	background: radial-gradient(ellipse at center, rgba(19,24,35,1) 0%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131823', endColorstr='#000000', GradientType=1 );*/
}
.section-hero .portrait{
	width: 100%;
	height: 100vh;
	background: url(../img/portrait_cutout.png) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.section-hero .content-wrapper{
	width: 100%;
}
.section-hero h1{
	color: #fff;
	opacity: .3;
}
.section-hero h3{
	color: #ddd;
}
/* SIGNITURE */
.signiture{
}
path.signiture {
	/*padding-top: 500px;*/
	fill: transparent;
	stroke: #FF5216;
	stroke-width: 2; 
	stroke-dasharray: 2000;
	stroke-dashoffset: 2000;
	animation: draw 2s ease-in-out forwards;
}
@keyframes draw {
	50% {
		stroke-dashoffset: 1500;
	}
	90% {
		fill: transparent;
		stroke-width: 3;
	}
	to {
		stroke-dashoffset: 0;
		/*fill: #737373;*/
		fill-opacity: 0.5;
	}
}

/* project styles */
.section-projects{
	background-color: #F9FAFC;
}
.content{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px;
	padding-top: 80px;
}
.content-chunk{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px;
	text-align: center;
}
.content-chunk h2{
	opacity: .3;
	/*text-transform: uppercase;*/
	line-height: 40px;
}
a.project-card{
	/*border: 1px solid rgba(0,0,0,0.2);*/
	display: block;
	text-decoration: none;
	border-radius: 5px;
	background-color: #fff;
	margin: 30px;
	box-shadow: 0 0 30px 0 rgba(229,232,235,0.3), 0 0 0 transparent;
	transition: 300ms all;
}
a.project-card:hover{
	transform: translateY(-10px);
	box-shadow: 0 0 30px 10px rgba(229,232,235,.5), 0 0 0 transparent;
}
.project-card_thumb{
	border-radius: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	width: 100%;
	height: 300px;
	/*background: url(../img/keyboard.jpg) no-repeat center center;*/
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.project-card_content{
	padding: 40px;
}

/* project styles */
.section-footer{
	background-color: #F9FAFC;
}
.social-links{
	letter-spacing: 10px;
}

