* {
  -webkit-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  box-sizing: border-box !important;
  -webkit-tap-highlight-color: transparent;
  position: relative;
  outline: none;
}
*:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  position: relative;
}
html,body{
	min-height: 100%;
  height: 100%;
  margin: 0;
	background-color: #000;
	font-family: 'Roboto','Helvetica Neue',Helvetica, Arial, sans-serif;
  font-variant-ligatures: no-common-ligatures;
  -webkit-font-variant-ligatures: no-common-ligatures;
}
h1{
	font-size: 4rem;
	font-weight: 200;
	letter-spacing: 4px;
	text-transform: uppercase;
	margin: 0;
	color: #fff;
	opacity: .3;
}
h2{
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0;
	color: #10131a;
}
h3{
	font-size: 1rem;
	font-weight: 200;
	letter-spacing: 4px;
	text-transform: uppercase;
	color: #ddd;
}
h4{
	font-size: 0.8rem;
	font-weight: 400;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #FF5216;
}
p{
	/*font-family: 'Open Sans', sans-serif;*/
	font-size: 1rem;
	color: #10131a;
	opacity: 0.3;
	letter-spacing: 0px;
	font-weight: 300px;
	line-height: 25px; 
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

/* animations */
.animate-opacity-fade-03 {
  -webkit-animation: opacity-fade-03 1s ease-in-out 1 normal;
  -moz-animation: opacity-fade-03 1s ease-in-out 1 normal;
  -o-animation: opacity-fade-03 1s ease-in-out 1 normal;
  animation: opacity-fade-03 1s ease-in-out 1 normal; 
}
@keyframes opacity-fade-03 {
  0% {
  	opacity: 0;
  }
  100% {
  	opacity: 0.3;
  } 
}
.animate-opacity-fade-1 {
  -webkit-animation: opacity-fade-1 2s ease-in-out 1 normal;
  -moz-animation: opacity-fade-1 2s ease-in-out 1 normal;
  -o-animation: opacity-fade-1 2s ease-in-out 1 normal;
  animation: opacity-fade-1 2s ease-in-out 1 normal; 
}
@keyframes opacity-fade-1 {
  0% {
  	opacity: 0;
  }
  30%{
  	opacity: 0;
  }
  100% {
  	opacity: 1.0;
  } 
}

/*.delay-100 { animation-delay: 100ms; }
.delay-200 { animation-delay: 200ms; }
.delay-300 { animation-delay: 300ms; }
.delay-400 { animation-delay: 400ms; }
.delay-500 { animation-delay: 500ms; }
.delay-600 { animation-delay: 600ms; }
.delay-700 { animation-delay: 700ms; }
.delay-800 { animation-delay: 800ms; }
.delay-900 { animation-delay: 900ms; }

.delay-1000 { animation-delay: 1000ms; }
.delay-1100 { animation-delay: 1100ms; }
.delay-1200 { animation-delay: 1200ms; }
.delay-1300 { animation-delay: 1300ms; }
.delay-1400 { animation-delay: 1400ms; }
.delay-1500 { animation-delay: 1500ms; }
.delay-1600 { animation-delay: 1600ms; }
.delay-1700 { animation-delay: 1700ms; }
.delay-1800 { animation-delay: 1800ms; }
.delay-1900 { animation-delay: 1900ms; }
.delay-2000 { animation-delay: 2000ms; }

.delay-2100 { animation-delay: 2100ms; }
.delay-2200 { animation-delay: 2200ms; }
.delay-2300 { animation-delay: 2300ms; }
.delay-2400 { animation-delay: 2400ms; }
.delay-2500 { animation-delay: 2500ms; }
.delay-2600 { animation-delay: 2600ms; }
.delay-2700 { animation-delay: 2700ms; }
.delay-2800 { animation-delay: 2800ms; }
.delay-2900 { animation-delay: 2900ms; }
.delay-3000 { animation-delay: 3000ms; }*/

/* helpers */
.accent-text{
	color: #FF5216;
}
.center-flex{
	display: flex;
  justify-content: center;
  align-items: center;
}
.padding-0{
  padding-right:0;
  padding-left:0;
  margin-left: 0;
  margin-right: 0;
}

/* preloader styles */
#preloader {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 101;
  background-color: #000;
  font-weight: 200;
  color: #ffffff;
}
#preloader .preloader-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
#preloader .preloader-percentage {
	color: #fff;
  font-size: 35px;
  opacity: 1;
  margin: 0 0 6px 0;
  max-width: 400px;
  text-align: center;
}
#preloader .preloader-progress {
  width: 100px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 auto 15px auto;
}
#preloader .preloader-progress span {
  display: block;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
#preloader.is-hidden {
  visibility: hidden;
  opacity: 0;
}
.is-loading {
  overflow: hidden;
}
.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden;
}

/* hero styles */
.section-hero{
	width: 100%;
	height: 100vh;
	/* dark */
  background: rgba(16,19,26,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(16,19,26,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(16,19,26,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(16,19,26,1) 0%, rgba(0,0,0,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(16,19,26,1) 0%, rgba(0,0,0,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(16,19,26,1) 0%, rgba(0,0,0,1) 100%);
	background: radial-gradient(ellipse at center, rgba(16,19,26,1) 0%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#10131a', endColorstr='#000000', GradientType=1 );
	/* blue */
	/*	background: rgba(19,24,35,1);
	background: -moz-radial-gradient(center, ellipse cover, rgba(19,24,35,1) 0%, rgba(0,0,0,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(19,24,35,1)), color-stop(100%, rgba(0,0,0,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(19,24,35,1) 0%, rgba(0,0,0,1) 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(19,24,35,1) 0%, rgba(0,0,0,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(19,24,35,1) 0%, rgba(0,0,0,1) 100%);
	background: radial-gradient(ellipse at center, rgba(19,24,35,1) 0%, rgba(0,0,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131823', endColorstr='#000000', GradientType=1 );*/
}
.section-hero .portrait{
	width: 100%;
	height: 100vh;
	background: url(../img/portrait_cutout.png) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.section-hero .content-wrapper{
	width: 100%;
}
/* SIGNITURE */
.signiture{
}
path.signiture {
	/*padding-top: 500px;*/
	fill: transparent;
	stroke: #FF5216;
	stroke-width: 2; 
	stroke-dasharray: 2000;
	stroke-dashoffset: 2000;
	animation: draw 2s ease-in-out forwards;
}
@keyframes draw {
	50% {
		stroke-dashoffset: 1500;
	}
	90% {
		fill: transparent;
		stroke-width: 3;
	}
	to {
		stroke-dashoffset: 0;
		/*fill: #737373;*/
		fill-opacity: 0.5;
	}
}

.bg-wrapper{
	background-color: #F9FAFC;
	/*
	background: rgba(255,255,255,1);
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(239,242,247,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(239,242,247,1)));
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(239,242,247,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(239,242,247,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(239,242,247,1) 100%);
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(239,242,247,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eff2f7', GradientType=1 );*/

	/*background: rgba(255,255,255,1);
	background: -moz-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(229,233,242,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(229,233,242,1)));
	background: -webkit-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(229,233,242,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(229,233,242,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(255,255,255,1) 0%, rgba(229,233,242,1) 100%);
	background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(229,233,242,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e9f2', GradientType=1 );*/
}

/* project styles */
.section-projects{
	/*background-color: #F9FAFC;*/
}
.content{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px;
	padding-top: 80px;
}
.content-chunk{
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
	padding: 40px;
	text-align: center;
}
.content-chunk h2{
	opacity: .3;
	/*text-transform: uppercase;*/
	line-height: 40px;
}
a.project-card{
	/*border: 1px solid rgba(0,0,0,0.2);*/
	display: block;
	text-decoration: none;
	border-radius: 5px;
	background-color: #fff;
	margin: 30px;
	box-shadow: 0 0 30px 0 rgba(229,232,235,0.3), 0 0 0 transparent;
	transition: 300ms all;
}
a.project-card:hover{
	transform: translateY(-10px);
	box-shadow: 0 0 30px 0 rgba(229,232,235,0.5), 0 0 0 transparent;
}
.project-card_thumb{
	border-radius: 5px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	width: 100%;
	height: 300px;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
	margin-bottom: -40px;
}
.sparkresume-img{
	background: url(../img/sparkresume_thumb.png) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.decompressay-img{
	background: url(../img/decompressay_thumb.png) no-repeat center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.project-card_content{
	padding: 40px;
}

/* project styles */
.section-footer{
	/*background-color: #F9FAFC;*/
}
.social-links{
	letter-spacing: 10px;
}

.bg-poly1{
	height: 400px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #273444;
	opacity: 0.03;
	-webkit-clip-path: polygon(0 100%, 100% 100%, 100% 80%);
	clip-path: polygon(0 100%, 100% 100%, 100% 80%);
}
.bg-poly2{
	height: 600px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: #273444;
	opacity: 0.03;
	-webkit-clip-path: polygon(100% 0, 90% 100%, 100% 100%);
	clip-path: polygon(100% 0, 90% 100%, 100% 100%);
}
.bg-poly3{
	height: 400px;
	width: 100%;
	position: absolute;
	top: 100vh;
	background-color: #EFF2F7;
	opacity: 0.9;
	-webkit-clip-path: polygon(0 0, 0 20%, 100% 0);
	clip-path: polygon(0 0, 0 20%, 100% 0);
}

@media screen and (max-width: 768px) {
  .content{
  	padding-left: 0;
  	padding-right: 0;
  }
}